.CompetitionDisplayBox {
    display: flex;
    flex-direction: column;
    background-color: #ffcea461;
    max-width: 600px;
    margin: 16px auto;
    border: #ffcfa4 1px solid;
    border-radius: 6px;
    box-shadow: 4px 4px 6px .5px rgba(0, 0, 0, 0.2);
    padding-bottom: 16px;
}

.CompetitionDisplay h3 {
    text-align: center;
    margin-bottom: 4px;
    font-size: 1.5em;
    
}

.statusBarGhost {
    width: 100%;
    background-color: rgb(255, 255, 255, .5);
    border-radius: 12px;
    
}

.CompetitionDisplay li {    
    margin: 0;
    min-width: 50%;
    border-radius: 6px;    
}

li p {
    margin-top: 0;
    margin-bottom: 4px;
    text-align: left;

}

.CompetitionDisplay {
    text-align: center;
    border-top: solid 5px #EF3E36;
    padding-left: 40px;
    padding-right: 40px;
}

.statusBar {
    background-color: aqua;
    height: 20px;
}

.statusBarsContainer {
    width: 90%;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: space-around;
    padding: 3px;
    margin: 0px auto;
}


@media only screen and (min-width: 1025px) {
    .CompetitionDisplay ul {
        border-left: none;
        border-right: none;
        /* border-top: solid 5px #EF3E36; */
    }
}