.PostBookProgress {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    border-top: solid 5px #EF3E36;
    
}

.PostBookProgress button {
    margin: 10px;
    background-color: #ffcfa4;
    border-radius: 4px;
    border: none;
    padding: 5px;
}

.PostBookProgress button:active {
    background-color: #ffcea461;
}

.PostBookProgress input {
    border: solid 1px #2e282a;
    border-radius: 4px;
    text-align: center;
}

.whichBookRadio {
    
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 4px;
    
}

.PostBookProgress form {
    margin: 0 auto;
}

.PostBookProgress h2 {
    text-align: center;
}

.signInWarning {
    text-align: center;
}