.PostBookProgress {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.PostBookProgress button {
    margin: 10px;
    background-color: #ffcfa4;
    border-radius: 8px;
    border: none;
    padding: 5px;
}

.PostBookProgress input {
    border: solid 1px #2e282a;
    border-radius: 8px;
    text-align: center;
}