.StartBookForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top: solid 5px #EF3E36;
}

.StartBookForm button {
    margin: 10px;
    background-color: #ffcfa4;
    border-radius: 8px;
    border: none;
    padding: 5px;
}

.StartBookForm input {
    border: solid 1px #2e282a;
    border-radius: 8px;
}