.statusBar {
    background-color: aqua;
    height: 20px;
}

.statusBarContainer {
    width: 90vw;
}

body {
    margin: 0;
    font-family: 'EB Garamond', serif;
    text-shadow: #2e282a .5px 0 1px;
}